# Introduction

The goal is to predict the binary target, whether the patient as heart diesease or not.The dataset that is used in this project is Heart Attack Dataset.

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [2]:
df = pd.read_csv("C:/Users/Naman Kapoor/Downloads/HeartAttack (1).csv", na_values = '?')

In [3]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130.0,132.0,0.0,2.0,185.0,0.0,0.0,NaN,NaN,NaN,0
1,29,1,2,120.0,243.0,0.0,0.0,160.0,0.0,0.0,NaN,NaN,NaN,0
2,29,1,2,140.0,NaN,0.0,0.0,170.0,0.0,0.0,NaN,NaN,NaN,0
3,30,0,1,170.0,237.0,0.0,1.0,170.0,0.0,0.0,NaN,NaN,6.0,0
4,31,0,2,100.0,219.0,0.0,1.0,150.0,0.0,0.0,NaN,NaN,NaN,0

In [4]:
#question value is the missing value

In [5]:
df.isnull().sum()

age             0
sex             0
cp              0
trestbps        1
chol           23
fbs             8
restecg         1
thalach         1
exang           1
oldpeak         0
slope         190
ca            291
thal          266
num             0
dtype: int64

In [6]:
#We will remove the columns with excess null values
df = df.drop(columns = ["slope","ca","thal"], axis = 1)

In [7]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,num
0,28,1,2,130.0,132.0,0.0,2.0,185.0,0.0,0.0,0
1,29,1,2,120.0,243.0,0.0,0.0,160.0,0.0,0.0,0
2,29,1,2,140.0,NaN,0.0,0.0,170.0,0.0,0.0,0
3,30,0,1,170.0,237.0,0.0,1.0,170.0,0.0,0.0,0
4,31,0,2,100.0,219.0,0.0,1.0,150.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
289,52,1,4,160.0,331.0,0.0,0.0,94.0,1.0,2.5,1
290,54,0,3,130.0,294.0,0.0,1.0,100.0,1.0,0.0,1
291,56,1,4,155.0,342.0,1.0,0.0,150.0,1.0,3.0,1
292,58,0,2,180.0,393.0,0.0,0.0,110.0,1.0,1.0,1
293,65,1,4,130.0,275.0,0.0,1.0,115.0,1.0,1.0,1

In [8]:
df['sex'].value_counts() #categorical variable

1    213
0     81
Name: sex, dtype: int64

In [9]:
df['cp'].value_counts() #categorical variable (cp- chest pain)

4    123
2    106
3     54
1     11
Name: cp, dtype: int64

In [10]:
df.duplicated().sum()

1

In [11]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,num
count,294.000000,294.000000,294.000000,293.000000,271.000000,286.000000,293.000000,293.000000,293.000000,294.000000,294.000000
mean,47.826531,0.724490,2.982993,132.583618,250.848708,0.069930,0.218430,139.129693,0.303754,0.586054,0.360544
std,7.811812,0.447533,0.965117,17.626568,67.657711,0.255476,0.460868,23.589749,0.460665,0.908648,0.480977
min,28.000000,0.000000,1.000000,92.000000,85.000000,0.000000,0.000000,82.000000,0.000000,0.000000,0.000000
25%,42.000000,0.000000,2.000000,120.000000,209.000000,0.000000,0.000000,122.000000,0.000000,0.000000,0.000000
50%,49.000000,1.000000,3.000000,130.000000,243.000000,0.000000,0.000000,140.000000,0.000000,0.000000,0.000000
75%,54.000000,1.000000,4.000000,140.000000,282.500000,0.000000,0.000000,155.000000,1.000000,1.000000,1.000000
max,66.000000,1.000000,4.000000,200.000000,603.000000,1.000000,2.000000,190.000000,1.000000,5.000000,1.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         294 non-null    int64
 1   sex         294 non-null    int64
 2   cp          294 non-null    int64
 3   trestbps    293 non-null    float64
 4   chol        271 non-null    float64
 5   fbs         286 non-null    float64
 6   restecg     293 non-null    float64
 7   thalach     293 non-null    float64
 8   exang       293 non-null    float64
 9   oldpeak     294 non-null    float64
 10  num         294 non-null    int64
dtypes: float64(7), int64(4)
memory usage: 25.4 KB

In [13]:
df.isnull().sum()

age            0
sex            0
cp             0
trestbps       1
chol          23
fbs            8
restecg        1
thalach        1
exang          1
oldpeak        0
num            0
dtype: int64

In [14]:
#now we can drop the null values from the rows
df = df.dropna()

In [15]:
df.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,num
0,28,1,2,130.0,132.0,0.0,2.0,185.0,0.0,0.0,0
1,29,1,2,120.0,243.0,0.0,0.0,160.0,0.0,0.0,0
3,30,0,1,170.0,237.0,0.0,1.0,170.0,0.0,0.0,0
4,31,0,2,100.0,219.0,0.0,1.0,150.0,0.0,0.0,0
5,32,0,2,105.0,198.0,0.0,0.0,165.0,0.0,0.0,0

In [16]:
df.value_counts()

age  sex  cp  trestbps  chol   fbs  restecg  thalach  exang  oldpeak  num
28   1    2   130.0     132.0  0.0  2.0      185.0    0.0    0.0      0             1
52   0    4   130.0     180.0  0.0  0.0      140.0    1.0    1.5      0             1
     1    2   140.0     100.0  0.0  0.0      138.0    1.0    0.0      0             1
              160.0     196.0  0.0  0.0      165.0    0.0    0.0      0             1
          3   140.0     259.0  0.0  1.0      170.0    0.0    0.0      0             1
                                                                                   ..
45   1    4   140.0     224.0  0.0  0.0      144.0    0.0    0.0      0             1
46   0    4   130.0     238.0  0.0  0.0      90.0     0.0    0.0      0             1
     1    1   140.0     272.0  1.0  0.0      175.0    0.0    2.0      1             1
          2   140.0     275.0  0.0  0.0      165.0    1.0    0.0      0             1
65   1    4   170.0     263.0  1.0  0.0      112.0    1.0    2.0      1             1
Length: 261, dtype: int64

In [17]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'num       '],
      dtype='object')

In [18]:
df['sex'].value_counts()

1    192
0     69
Name: sex, dtype: int64

In [19]:
df['cp'].value_counts()

4    113
2     92
3     46
1     10
Name: cp, dtype: int64

In [20]:
#now since 'sex' and 'cp' are categorical variables , we will have to pass it through one-hot encoding

In [21]:
# We will use dummies to convert categorical variables( with more than 0-1 distribution) to one hot encoding

In [22]:
df = pd.get_dummies(df, columns = ['sex','cp'])

In [23]:
df.head(5)

,age,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,num,sex_0,sex_1,cp_1,cp_2,cp_3,cp_4
0,28,130.0,132.0,0.0,2.0,185.0,0.0,0.0,0,0,1,0,1,0,0
1,29,120.0,243.0,0.0,0.0,160.0,0.0,0.0,0,0,1,0,1,0,0
3,30,170.0,237.0,0.0,1.0,170.0,0.0,0.0,0,1,0,1,0,0,0
4,31,100.0,219.0,0.0,1.0,150.0,0.0,0.0,0,1,0,0,1,0,0
5,32,105.0,198.0,0.0,0.0,165.0,0.0,0.0,0,1,0,0,1,0,0

In [24]:
numerical_cols = ['age' , 'trestbps','chol','thalach','oldpeak']
categ_cols = list(set(df.columns) - set(numerical_cols))

In [25]:
categ_cols

['num       ',
 'sex_1',
 'cp_3',
 'sex_0',
 'fbs',
 'cp_1',
 'restecg',
 'cp_2',
 'exang',
 'cp_4']

In [26]:
categ_cols = ['cp_1',
 'cp_4',
 'sex_0',
 'fbs',
 'cp_3',
 'restecg',
 'exang',
 'cp_2',
 'sex_1']

In [27]:
categ_cols

['cp_1', 'cp_4', 'sex_0', 'fbs', 'cp_3', 'restecg', 'exang', 'cp_2', 'sex_1']

In [28]:
df['oldpeak'].value_counts()

0.0    165
1.0     36
2.0     28
1.5     15
3.0      9
2.5      3
0.5      2
0.8      1
4.0      1
5.0      1
Name: oldpeak, dtype: int64

In [29]:
df = df.rename(columns = {'num       ':"target"})#renaming the num column to target which will show the predicted values

In [30]:
df

,age,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,target,sex_0,sex_1,cp_1,cp_2,cp_3,cp_4
0,28,130.0,132.0,0.0,2.0,185.0,0.0,0.0,0,0,1,0,1,0,0
1,29,120.0,243.0,0.0,0.0,160.0,0.0,0.0,0,0,1,0,1,0,0
3,30,170.0,237.0,0.0,1.0,170.0,0.0,0.0,0,1,0,1,0,0,0
4,31,100.0,219.0,0.0,1.0,150.0,0.0,0.0,0,1,0,0,1,0,0
5,32,105.0,198.0,0.0,0.0,165.0,0.0,0.0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,52,160.0,331.0,0.0,0.0,94.0,1.0,2.5,1,0,1,0,0,0,1
290,54,130.0,294.0,0.0,1.0,100.0,1.0,0.0,1,1,0,0,0,1,0
291,56,155.0,342.0,1.0,0.0,150.0,1.0,3.0,1,0,1,0,0,0,1
292,58,180.0,393.0,0.0,0.0,110.0,1.0,1.0,1,1,0,0,1,0,0
293,65,130.0,275.0,0.0,1.0,115.0,1.0,1.0,1,0,1,0,0,0,1

In [31]:
#performing train_test split

In [35]:
from sklearn.model_selection import train_test_split

In [40]:
df_train , df_test = train_test_split(df,test_size = 0.2, random_state= 42)

In [42]:
len(df_train)

208

In [43]:
len(df_test)

53

In [44]:
#normalising the data the using standard scaler
from sklearn.preprocessing import StandardScaler

In [45]:
scaler = StandardScaler()

In [46]:
def get_features_and_target_arrays(df,numerical_cols,cat_cols,scaler):
    x_numerical_scaled = scaler.fit_transform(df[numerical_cols]) #numerical columns
    x_categorical = df[categ_cols].to_numpy()#categorical columns
    x = np.hstack((x_numerical_scaled,x_categorical)) #combining both the columns and putting them in single array
    y = df['target']
    
    return x,y

In [53]:
x_train, y_train = get_features_and_target_arrays(df_train,categ_cols,numerical_cols,scaler)

In [54]:
#applying model
from sklearn.linear_model import LogisticRegression

In [55]:
clf = LogisticRegression()
clf.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [58]:
x_test , y_test = get_features_and_target_arrays(df_test,categ_cols,numerical_cols,scaler)

In [59]:
test_pred = clf.predict(x_test)

In [60]:
test_pred

array([0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1], dtype=int64)

In [64]:
from sklearn.metrics import mean_squared_error , accuracy_score , confusion_matrix

In [95]:
print("mean_squared_error is:" , mean_squared_error(y_test,test_pred))
print("accuracy_score is :", accuracy_score(y_test,test_pred))

mean_squared_error is: 0.16981132075471697
accuracy_score is : 0.8301886792452831

In [67]:
confusion_matrix(y_test, test_pred)  #(TN,FP,FN,TP)

array([[28,  5],
       [ 4, 16]], dtype=int64)

In [93]:
#decision tree
from sklearn.tree import DecisionTreeClassifier
dc_clf = DecisionTreeClassifier()
dc_clf.fit(x_train,y_train)
dc_clf_pred = dc_clf.predict(x_test)
print("mean_squared_error is:", mean_squared_error(y_test,dc_clf_pred))
print("accuracy_score is :", accuracy_score(y_test,dc_clf_pred))

mean_squared_error is: 0.3584905660377358
accuracy_score is : 0.6415094339622641

In [89]:
#Randomforest
from sklearn.ensemble import RandomForestClassifier
rand_forest = RandomForestClassifier()
rand_forest.fit(x_train,y_train)
rand_pred = rand_forest.predict(x_test)
print("mean_squared_error is:", mean_squared_error(y_test,rand_pred))
print("accuracy_score is :" ,accuracy_score(y_test,rand_pred))

mean_squared_error is: 0.20754716981132076
accuracy_score is : 0.7924528301886793

In [90]:
#SVM
from sklearn.svm import SVC
svm = SVC()
svm.fit(x_train,y_train)
svm_pred = svm.predict(x_test)
print("mean_squared_error is:" , mean_squared_error(y_test,svm_pred))
print("accuracy_score is :" , accuracy_score(y_test,svm_pred))

mean_squared_error is: 0.33962264150943394
accuracy_score is : 0.660377358490566